#product-overview {
  background: url("freedom.jpg") no-repeat left 10% bottom 70% / cover
    border-box;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: left 10% bottom 20%;
  background-origin: border-box;
  background-clip: border-box; */
  width: 100vw;
  height: 33vh;
  margin-top: 2.5rem;
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 1%;
  left: 1%;
  font-size: 1rem;
}

@media (min-width: 40rem) {
  #product-overview {
    background-position: left 10% bottom 20%;
    height: 50vh;
  }

  #product-overview h1 {
    font-size: 2.5rem;
  }
}

.section-title {
  color: #41b3a3;
  font-weight: bold;
  text-align: center;
}

.plan-list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  display: block;
  background: #d5ffdc;
  text-align: center;
  width: 80%;
  padding: 16px;
  margin: 1.25rem auto;
  border-radius: 8px;

  /* vertical-align: middle; */
}

.plan ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.plan li {
  margin: 0.25rem;
}

@media (min-width: 40rem) {
  .plan {
    display: inline-block;
    width: 30%;
    margin: 8px;
    min-width: 15rem;
    max-width: 12rem;
  }
}

.recommended {
  background: #19b84c;
  color: aliceblue;
  /* box-shadow: 2px 5px 2px 2px rgba(0, 0, 0, 0.5); */
}

@media (min-width: 40rem) {
  .recommended {
    box-shadow: 2px 5px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

.recommended > h1:first-of-type {
  background: white;
  color: rgb(47, 47, 162);
  box-shadow: 2px 2px 2px 2px rgba(47, 47, 162, 0.5);
  border-radius: 8px;
  padding: 6px;
}

.sales-pitch {
  background: #ff1b68;
  padding: 8px;
  margin-top: 32px;
}

.sales-pitch .section-title {
  color: white;
  padding: 8px;
  margin: 12px;
}

.sales-pitch__features {
  padding: 0;
}

.sales-pitch__features li {
  /* display: inline-block; */
  color: white;
  font-weight: bold;
  list-style: none;
  width: 100%;
  text-align: center;
  vertical-align: top;
  margin-bottom: 0.5rem;
}

.sales-pitch__features li > div {
  background: #d5ffdc;
  width: 128px;
  height: 128px;
  border: solid grey;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.sales-pitch__features li > p {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}

@media (min-width: 40rem) {
  .sales-pitch__features li {
    display: inline-block;
    width: 30%;
    margin: auto;
  }

  .sales-pitch__features li > div {
    display: block;
    margin: 0.5rem auto;
  }

  .sales-pitch__features li > p {
    display: block;
    text-align: center;
    margin: auto;
  }
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: rgb(184, 214, 184);
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: #312b2d;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 18px;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
