* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.main-header {
  width: 100%;
  background: #19b84c;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 3rem;
}

main {
  min-height: calc(100vh - 3rem - 2.5rem);
  padding-top: 0.5rem;
  position: relative;
  z-index: -1;
}

@media (min-width: 40rem) {
  .main-header > .material-symbols-outlined {
    display: none;
  }
}

.brand-div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  text-decoration: none;
  color: #142218;
  font-weight: bold;
  font-size: 1.375rem;
}

.main-nav {
  display: none;
}

@media (min-width: 40rem) {
  .main-nav {
    display: inline-block;
    width: calc(100% - 150px);
    text-align: right;
    vertical-align: middle;
  }
}

.main-nav__lists {
  padding: 0;
  margin: 0;
}

.main-nav__list {
  display: inline-block;
  padding: 4px 5px;
}

.main-nav__list a,
.mobile-main-nav__list a {
  color: #142218;
  text-decoration: none;
  padding: 3px;
}

.main-nav__list a:hover,
.main-nav__list a:active,
.mobile-main-nav__list a:hover,
.mobile-main-nav__list a:active {
  color: white;
  font-weight: bold;
  border-bottom: solid white 5px;
}

.main-nav__list--cta a,
.mobile-main-nav__list--cta a {
  color: white;
  background-color: #ff1b68;
  padding: 8px 16px;
  margin-left: 30px;
  border-radius: 8px;
}

.main-nav__list--cta a:hover,
.main-nav__list--cta a:active,
.mobile-main-nav__list--cta a:hover,
.mobile-main-nav__list--cta a:active {
  color: #ff1b68;
  background-color: white;
  font-weight: bold;
  border: none;
}

.plan__button {
  background: #05386b;
  padding: 8px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #05386b;
  box-shadow: 1px 1px 1px 1px #05386b;
  cursor: pointer;
  font: inherit;
}

.plan__button:hover {
  background: white;
  color: #05386b;
}

.main-footer {
  background: black;
  margin-top: 16px;
  padding: 8px;
}

.main-footer__links {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.main-footer__link {
  text-align: center;
  margin: 1rem 0;
}

.main-footer__link a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 8px;
  margin: 16px;
}

@media (min-width: 40rem) {
  .main-footer__link {
    display: inline-block;
    text-align: center;
    margin: 0 1rem;
  }
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 24;
  vertical-align: middle;
  margin-left: 0.5rem;
  color: #0e4f1f;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: #19b84c;
  z-index: 300;
}

.mobile-nav > .brand-div {
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  border-bottom: 2px white solid;
}

.mobile-main-nav {
  position: absolute;
  top: 3rem;
  text-align: center;
}
.mobile-main-nav__list {
  list-style: none;
  margin-top: 2rem;
}
